.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .main-nav {
    width: auto;

    ul.main-nav--list {
      display: flex;
      align-items: center;
      list-style: none;
      /* gap: 1rem; */
      padding: 0;
      margin: 0;

      li.main-nav--item {
        padding: 1rem;
      }
      &.mobile {
        display: none;
      }
      .desktop {
        display: flex;
      }

      @media (max-width: 640px) {
        &.mobile {
          display: block;
          width: 100%;
        }
        &.desktop {
          display: none;
        }
      }
    }
    @media (max-width: 640px) {
      width: -webkit-fill-available;
    }
  }
  
  .logo {
    font-size: 32px;
    font-weight: 700;
    color: var(--logo-color);
    text-indent: 0px;
    &:hover {
      color: var(--logo-color-hover);
    }
    &:focus {
      outline: 2px solid var(--logo-color-hover);
      outline-offset: 2px;
    }
  }
  
  @media (max-width: 640px) {
    column-gap: 25%;
  }
}
