.header {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .main-nav {
    ul {
      list-style: none;
      display: flex;
      gap: 1rem;
      padding: 0;
      margin: 0;
    }
 } 

 .logo {
  font-size: 32px;
  font-weight: 700;
 }
}