.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .main-nav {
    width: auto;

    .mobile-nav-wrapper {
      display: none;
    }

    ul.main-nav--list {
      display: flex;
      align-items: center;
      list-style: none;
      padding: 0;
      margin: 0;
      
      .mobile {
        display: none;
      }
      
      .desktop {
        display: flex;
      }
      
      li.main-nav--item {
        padding: 1rem;
      }

      @media (max-width: 640px) {
        li.main-nav--item {
          padding: 0;
        }
        &.mobile {
          display: block;
          width: -webkit-fill-available;
          button,
          .dropdown-wrapper {
            width: -webkit-fill-available;
          }
        }
        &.desktop {
          display: none;
        }
      }
    }
    @media (max-width: 640px) {
      width: -webkit-fill-available;
      .mobile-nav-wrapper {
        display: block;
        button,
        .dropdown-wrapper {
          width: -webkit-fill-available;
        }
      }
    }
  }

  .logo {
    font-size: 32px;
    font-weight: 700;
    color: var(--logo-color);
    text-indent: 0px;
    &:hover {
      color: var(--logo-color-hover);
    }
    &:focus {
      outline: 2px solid var(--logo-color-hover);
      outline-offset: 2px;
    }
  }

  @media (max-width: 640px) {
    column-gap: 25%;
  }
}
