.container {
  height: 100%;
  justify-self: center;
  max-width: var(--default-container-max-width);
  width: -webkit-fill-available;
  margin: 1rem auto;
}

.container-content {
  box-sizing: border-box;
  margin: 1rem;
  padding: var(--default-container-padding);
}

/** Sprawl Theme Styles */
:root {
  &[data-theme='sprawl'] {
    .container-content{
      border: solid 2px var(--cl-dark-mango);
      border-top-left-radius: 50px;
      corner-top-left-shape: bevel;
      border-bottom-right-radius: 50px;
      corner-bottom-right-shape: bevel;
    }
  } 
}

/** Typewriter Theme Styles */
:root {
  &[data-theme='typewriter'] {
    .container-content {
      border: solid .5px #979998;
      border-radius: 2px;
      box-shadow: 10px 7px 9px -1px rgba(138,136,136,0.84);
      -webkit-box-shadow: 10px 7px 9px -1px rgba(138,136,136,0.84);
      -moz-box-shadow: 10px 7px 9px -1px rgba(138,136,136,0.84);
          }
  } 
}