.segment {
  display: flex;
  
  & *.likes-button {
    display: block;
    width: 45px;
    height: 45px;
    border: 2px solid var(--button-border-primary);
  }


  & * Button.likes-button {
    background: transparent;
    border: none;
    
    &:hover {
      background: transparent;
      --svg-border: var(--button-border-primary-hover)
    }
    
    &.liked {
      --svg-fill: var(--button-background-primary-hover);
    }
  }

}
