button {
  all:unset;
}
a {
  all:unset;
}
.button {
  cursor: pointer;

  &.as-button {
    background-color: #0070f3;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #005bb5;
    }
  }

  &.as-link {
    color: #0070f3;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;

    &:hover {
      color: #005bb5;
      text-decoration: underline;
    }
  }

  &.as-button:disabled,
  &.as-link:disabled {
      background-color: #cccccc;
      color: #666666;
      cursor: not-allowed;
      text-decoration: none;
    }
}