button:not(:disabled),
a:not(:disabled) {
  cursor: pointer;
}

.button {
  cursor: pointer;

  &.as-button {
    display: flex;
    justify-content: center;
    background-color: var(--button-background-primary);
    background-image: var(--button-background-image-primary);
    background-size: var(--button-background-size-primary);
    color: var(--button-color-primary);
    border: 2px solid var(--button-border-primary);
    padding: .5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    height: fit-content;
    width: fit-content;
    
    &:hover {
      background-color: var(--button-background-primary-hover);
      background-image: var(--button-background-image-primary-hover);
      color: var(--button-color-primary-hover);
      border-color: var(--button-border-primary-hover);
    }

    &:focus {
      outline: 2px solid var(--button-border-primary-hover);
      outline-offset: 2px;
    }

    &.secondary {
      background-color: var(--button-background-secondary);
      color: var(--button-color-secondary);
      border: 2px solid var(--button-border-secondary);

      &:hover {
        background-color: var(--button-background-secondary-hover);
        color: var(--button-color-secondary-hover);
        border: 2px solid var(--button-border-secondary-hover);
      }

      &:focus {
        outline: 2px solid var(--button-border-secondary-hover);
        outline-offset: 2px;
      }
    }
  }

  &.as-link {
    position: relative;
    color: var(--link-primary);
    text-decoration: none;
    font-size: 16px;
    width: fit-content;
    transition: all 0.3s ease;
    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 0;
      height: 2px;
      background: var(--link-primary-hover);
      transition: width 0.3s;
      bottom: 0;
    }
    &:hover {
      color: var(--link-primary-hover);
      font-weight: 600;
      &::after {
        position: absolute;
        width: 100%;
      }
    }
    &:focus {
      outline: 2px solid var(--link-primary-hover);
      outline-offset: 2px;
    }
    &.secondary {
      color: var(--link-secondary);
      &::after {
        content: "";
        display: block;
        width: 0;
        height: 2px;
        background: var(--link-secondary-hover);
        transition: width 0.3s;
      }
      &:hover {
        color: var(--link-secondary-hover);
        font-weight: 600;
        &::after {
          width: 100%;
        }
      }
      &:focus {
        outline: 2px solid var(--link-secondary-hover);
        outline-offset: 2px;
      }
    }
  }

  &.as-button:disabled,
  &.as-link:disabled {
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
    text-decoration: none;
  }

  .newspaper-background {
    background-color: var(--button-background-primary);
    opacity: 0.6;
    background-size: 5px 5px;
    background-image: repeating-linear-gradient(45deg, #444cf7 0, #444cf7 0.5px, #e5e5f7 0, #e5e5f7 50%);
  }

}
