@import "./theme.css";
:root {
  html {
    height: 100%;
  }

  html,
  body {
    max-width: 100vw;
    overflow-x: hidden;
  }

  body {
    color: var(--text-body-primary);
    font-family: var(--ff-primary);
    background: var(--background);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.6;

    &::before {
      content: var(--pseudo-content);
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: var(--background-image);
      background-size: cover;
      z-index: -1;
      opacity: 0.5; /* Adjust this value to make the texture more or less visible */
    }
  }

  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  button,
  a {
    all: unset;
  }

  a {
    color: var(--link-primary);
    text-decoration: none;
    cursor: pointer;

    &:hover {
      color: var(--link-primary-hover);
    }

    &:focus {
      outline: 2px solid var(--button-border-primary);
      outline-offset: 2px;
      color: var(--link-primary-hover);
    }

    &.secondary {
      color: var(--link-secondary);

      &:hover {
        color: var(--link-secondary-hover);
      }
      &:focus {
        outline: 2px solid var(--button-border-secondary);
        outline-offset: 2px;
        color: var(--link-secondary-hover);
      }
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--heading-primary);
    margin-bottom: 1rem;
    font-family: var(--ff-primary);
  }

  p {
    margin-bottom: 1rem;
    line-height: 1.6;
    text-indent: var(--text-indent);
  }

  p:first-of-type {
    margin-top: 1rem;
  }

  .page.home {
    .login-signup-buttons {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin-top: 2rem;
    }
  }

  .page.form.login {
    form {
      display: flex;
      flex-direction: column;
    }
  }

  .page.form.story {
    form {
      width: 100%;
      max-width: 60%;
      margin: 3% auto;
      
      ul {
        list-style: none;
        margin-bottom: 1rem;
      }

      .user-search {
        margin-top: 1rem;
      }
    }
  }

  .page.main {
    width: 100%;
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
  }

  .page.form.story,
  .page.form.auth {
    form {
      padding: 1rem;
      display: flex;
      flex-direction: column;
      padding: 1rem;
      border: 1px solid var(--link-primary);
      border-radius: 8px;
      background-color: var(--background);
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

      input {
        border-color: var(--link-primary);
        background-color: var(--background);
        font-weight: 700;
        color: var(--text-body-primary);

        &:focus {
          outline: 2px solid var(--link-primary);
          outline-offset: 2px;
        }
      }
      button[class$="submit"] {
        margin: 1rem 0;
        width: fit-content;
      }
    }
  }

  .profile-update-page {
    .profile-update-page--main-content {
      display: flex;
      column-gap: 10%;

      .profile-update-page--form-wrapper {
        flex: 1;
      }
      .profile-form {
        width: 100%;
        max-width: unset;
      }
    }
  }

  &[data-theme="monitor"] {
    body::before {
      border: solid green calc(var(--default-container-padding) / 2);
      position: fixed;
      top: calc(var(--default-container-padding) / 2);
      left: calc(var(--default-container-padding) / 2);
      right: calc(var(--default-container-padding) / 2);
      bottom: calc(var(--default-container-padding) / 2);
      content: "";
      z-index: 1;
      pointer-events: none;
      width: auto;
      height: auto;
      border-radius: 40px;
      opacity: 1;
    }
    body::after {
      border: solid black var(--default-container-padding);
      position: fixed;
      inset: 0;
      content: "";
      z-index: 0;
      pointer-events: none;
    }
  }

  &[data-theme="sprawl"] {
    .page.home,
    .page.form.story,
    .page.form.auth {
      form, .login-signup-buttons {
        display: flex;
        flex-direction: column;
        padding: 3rem;
        background-color: var(--background);
        border: solid 2px var(--link-primary);
        border-top-left-radius: 50px;
        corner-top-left-shape: bevel;
        border-bottom-right-radius: 50px;
        corner-bottom-right-shape: bevel;
      }
    }

    .login-signup-buttons {
      width: fit-content;
    }
  }

  &[data-theme="floral"] {
    .page.home,
    .page.form.story,
    .page.form.auth {
      form, .login-signup-buttons {
        position: relative;
        padding: 2rem;
        background-color: var(--background);

        &::after {
          content: "";
          position: absolute;
          border: double 3.5px var(--theme-button-border-primary);
          inset: 0;
          border-radius: 5px;
          pointer-events: none;
        }
        &::before {
          content: "";
          border: double 3.5px var(--theme-button-border-primary-hover);
          position: absolute;
          inset: 7px;
          border-radius: 5px;
          pointer-events: none;
        }
      }
    }

    .login-signup-buttons {
      width: fit-content;
    }
  }

  /* Profile Page */

  .profile-homepage--stories-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 2% 0;
    
    .label {
      display: block;
      font-size: var(--fs-heading-5);
      font-weight: 700;
      margin-bottom: 1rem;
    }

    & div .profile-homepage--stories-list {
      list-style: none;
    }
  }
}
