@import "./theme.css";

html,
body {
  max-width: 100vw;
  overflow-x: hidden;

}

body {
  color: var(--text-body-primary);
  font-family: var(--ff-primary);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6;

  &::before {
    content: var(--pseudo-content);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: var(--background-image);
    background-size: cover;
    z-index: -1;
    opacity: 0.5; /* Adjust this value to make the texture more or less visible */
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
button, a {
  all:unset;
}

a {
  color: var(--link-primary);
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: var(--link-primary-hover);
  }

  &:focus {
    outline: 2px solid var(--button-border-primary);
    outline-offset: 2px;
    color: var(--link-primary-hover);
  }

  &.secondary {
    color: var(--link-secondary);

    &:hover {
      color: var(--link-secondary-hover);
    }
    &:focus {
      outline: 2px solid var(--button-border-secondary);
      outline-offset: 2px;
      color: var(--link-secondary-hover);
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  color: var(--heading-primary);
  margin-bottom: 1rem;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.page.form.auth {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: var(--background);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}



p{
  margin-bottom: 1rem;
  line-height: 1.6;
  text-indent: var(--text-indent);
}

p:first-of-type {
  margin-top: 1rem;
}

