.input-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  label {
    font-weight: 600;
  }

  input {
    border: 1px solid;
    border-color: var(--link-primary);
    background-color: var(--background);
    font-weight: 700;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 14px;
    transition: border-color 0.3s ease;
    color: var(--text-body-primary);
    font-family: var(--ff-primary);

    &:focus {
      outline: 2px solid var(--link-primary);
      outline-offset: 2px;
    }
  }

  &.input--textarea {
    textarea {
      min-height: 100px;
    }
  }
}
